Header set Access-Control-Allow-Origin 'http://aboalazm-env.eba-supt62kz.us-east-1.elasticbeanstalk.com'
Header always set Access-Control-Allow-Methods "POST, GET, DELETE, PUT"
Header always set Access-Control-Allow-Headers "*".